<h1>Listing homes</h1>

<% form_tag(new_home_path, :method => 'get') do |f| %>
  <p>
    <%= label_tag(:mls_number, 'Create a new home from MLS#:') %>
    <%= text_field_tag(:mls_number) %>
    <%= submit_tag('Create') %>
    or
    <%= link_to 'Create a new home manually', new_home_path %>
  </p>
<% end %>

<p>
  Show
  <%=
    link_to_if(!params[:order], 'all', {  }) do
      link_to('all', { :order => @order, :direction => @direction_current })
    end
  %>,
  <%=
    link_to_if(!params[:order], 'favorite', { :show => 'favorite' }) do
      link_to('favorite', { :show => 'favorite', :order => @order, :direction => @direction_current })
    end
  %>,
  <%=
    link_to_if(!params[:order], 'short sale', { :show => 'short_sale' }) do
      link_to('short sale', { :show => 'short_sale', :order => @order, :direction => @direction_current })
    end
  %>
  listings or clear all
  <%= link_to('filters', {  }) %>
</p>

<table>
  <tr>
    <th>Photo</th>
    <th>
      <%=
        link_to_if(!params[:show], 'MLS#', { :order => 'mls_number', :direction => @direction_new }) do
          link_to('MLS#', { :order => 'mls_number', :direction => @direction_new, :show => params[:show] })
        end
      %>
    </th>
    <th>
      <%=
        link_to_if(!params[:show], 'Price', { :order => 'price', :direction => @direction_new }) do
          link_to('Price', { :order => 'price', :direction => @direction_new, :show => params[:show] })
        end
      %>
    </th>
    <th>
      <%=
        link_to_if(!params[:show], 'Square feet', { :order => 'price', :direction => @direction_new }) do
          link_to('Square feet', { :order => 'price', :direction => @direction_new, :show => params[:show] })
        end
      %>
    </th>
    <th>Address</th>
    <th>Short sale?</th>
    <th>
      <%=
        link_to_if(!params[:show], 'Date Added', { :order => 'created_at', :direction => @direction_new }) do
          link_to('Date Added', { :order => 'created_at', :direction => @direction_new, :show => params[:show] })
        end
      %>
    </th>
    <th colspan="3">Actions</th>
  </tr>
<% @homes.each do |home| %>
  <tr id="row_<%= Digest::MD5.hexdigest(home.id.to_s) %>" class="<%= cycle('even ', 'odd ') -%><%= home.favorite ? 'favorite' : '' -%>">
    <td><%= link_to image_tag("http://photo.wfrmls.com/105x79/#{home.mls_number}.jpg", :size => '105x79'),
                    "http://www.utahrealestate.com/#{home.mls_number}",
                    {:target => '_mls'} %></td>
    <td class="mls-number"><%= link_to home.mls_number, "http://www.utahrealestate.com/#{home.mls_number}", {:target => '_mls'} %></td>
    <td class="price"><%= number_to_currency home.price, :precision => 0 %></td>
    <td class="square-feet"><%=h home.square_feet %></td>
    <td><%= link_to home.address,
                    "http://maps.google.com/maps?q=#{CGI::escape(home.address)}&z=13",
                    {:target => '_map'} %></td>
    <td class="short-sale"><%= home.short_sale ? '<strong>Yes</strong>' : 'No' %></td>
    <td class="date-added">
      <%= time_ago_in_words(Time.parse(home.created_at.to_s)) %> ago
    </td>
    <td>
      <%= link_to 'Show', home %>
      <%= link_to 'Edit', edit_home_path(home) %>
      <%= button_to 'Not interested',
                    { :action => "not_interested", :id => home.id },
                    :confirm => 'Are you sure you are no longer interested in this home?', :method => :put %>
      <%= button_to 'Delete',
                    home,
                    :confirm => "Are you sure you want to delete this home?\nThis cannot be undone.",
                    :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
